@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Fondo premium */
body {
  background: radial-gradient(
      circle at 20% 20%,
      rgba(99, 102, 241, 0.15),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 0%,
      rgba(236, 72, 153, 0.12),
      transparent 40%
    ),
    #020617;
  color: white;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

/* Scrollbar sutil */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
